<%= search_form_for @q do |f| %>
  <%= f.label :title_cont, "タイトル" %>
  <%= f.search_field :title_cont %>
  <%= f.submit "検索" %>
<% end %>

<h1 class="text-center">楽曲一覧</h1>
<table class="table table-bordered table-striped mt-4">
  <thead class="table-primary">
    <tr>
      <th scope="col" class="w-100">タイトル</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td class="break-word"><%= art.title %></td>
        <td class="text-nowrap">
          <%= link_to art, class: "btn btn-primary" do %>
            <i class="fas fa-envelope-open-text"></i> <span class="d-none d-md-inline"> 詳細</span>
          <% end %>
          <%= link_to edit_art_path(art), class: "btn btn-success" do %>
            <i class="far fa-edit"></i> <span class="d-none d-md-inline"> 編集</span>
          <% end %>
          <%= link_to art, method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-danger" do %>
            <i class="far fa-trash-alt"></i> <span class="d-none d-md-inline"> 削除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @arts %>